* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: oldlace;
    font-family: 'Open Sans', sans-serif;
}

.page {
    display: grid;
    row-gap: 30px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    grid-template-areas: 
        "order payment"
        "total total";
    grid-template-columns: 1fr 1fr;;
}

.main-nav {
    background-color: #43281c;
    color: #fbf2c0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.logo {
    height: 25px;
    position: relative;
    top: 3px;

}

.box {
    background-color: oldlace;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb (0 0 0 / 0.2);
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.box-title {
    color: black;
    font-weight: normal;
    font-size: 16px;
}

.order {
    grid-area: order;
}

.payment {
    grid-area: payment;
}

.total {
    grid-area: total;
}

.items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    border-bottom: 2px solid #ddB892;
    display: grid;

    padding: 10px 0;

    grid-template-columns: 1fr 8fr 1 fr;
    grid-template-areas: 
        "quantity title price"
        "quantity options price";

    row-gap: 8px;
}

.item: last-child {
    border-bottom: none;
}

.wrapper {
    grid-area: center;
    height: 30px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.wrapper span{
    width: 30%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper span.num{
    font-size: 15px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

.item-title {
    grid-area: title;
    font-weight: bold;
}

.item-price {
    grid-area: price;
    font-weight: bold;
}

.item-options-list {
    grid-area: options;
    color: #B08968;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;   
}

.item-option {
    margin-bottom: 5px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.user-input {
    background-color: rgba(0,0,0,0);
    border: 2px #885a2d solid;
    padding: 8px;
    border-radius: 100px;
    width: 100%;
    text-indent: 18px;
    font-size: 18px;
}

.user-input-label 